{
  extends: [
    "airbnb-base",
    "plugin:flowtype/recommended"
  ],
  parser: "@babel/eslint-parser",
  plugins: [
    "flowtype"
  ],
  rules: {
    'max-len': 'off',
    'no-template-curly-in-string': 'off',
  }
}
