{
  extends: [
    "airbnb-base",
    "plugin:flowtype/recommended"
  ],
  parser: "babel-eslint",
  parserOptions: {
    "ecmaVersion": 2018,
  },
  plugins: [
    "flowtype"
  ],
  rules: {
    'max-len': 'off',
    'no-template-curly-in-string': 'off',
  }
}
